* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    overflow-x: hidden;
}

html {
    width: 1910x;
}

body {
    width: 100%;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Блок навигации nav */

nav {
    width: 100%;
    margin: 0 auto;
}

#checkbox-menu, .toggle {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 50px;
    align-items: center;
    list-style: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition: background .2s linear;
}

.menu li a:hover {
    color: #ffcc01;
    border-radius: 3px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 170px;
}

.menu li a.contacts {
    margin-right: 80px;
}

/* Окончание панели навигации */

/* Блок Main */

/* Секция Intro */

.intro {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
    
}

.intro-img {
    background-image: url(assets/main_room.jpg);
    width: 965px;
    height: 640px;
}

.intro-text {
    position: absolute;
    font-size: 62px;
    font-weight: 700;
    color: #1f373d;
    right: 750px;
    top: 220px;
}

.intro-contacts {
    position: absolute;
    top: 522px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 590px;
    padding: 30px 50px;
    background-color: #ffcc01;
}

.intro-contacts p {
    font-size: 18px;
    font-weight: 600;
    color: #1f373d; 
    margin-right: 60px;
}

.intro-contacts i {
    color: #fff;
    margin-right: 30px;
}


/* Блок Stats */

.stats {
    display: flex;
    flex-direction: row;
    margin-top: 130px;
}

.stats-line {
    display: flex;
    flex-direction: row;
}

.stats-text {
    padding-right: 40px;

}

.stats-text h2 {
    font-size: 40px;
    margin-bottom: 70px;
}

.stats-text p {
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-square {
    font-size: 40px;
    color: #fecf11;
    margin-bottom: 13px;
}

.square-text {
    font-size: 14px;
    color: #1f373d;
    font-weight: 700;
}

.apartments {
    background-color: #f6f5f4;
    padding: 60px 0;
}

.apart h2 {
    font-size: 40px;
    margin-bottom: 85px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 30px;
}

.card {
    max-width: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover {
    background-color: #fafaf9;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}


.card-container {
    padding: 25px;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.card-info .price {
    font-size: 18px;
    color: #ffcc01;
}

.card-info span:first-child {
    margin-right: 18px;
}

.card-info i {
    margin-right: 8px;
}

.apart input[type=text] {
    width: 300px;
    height: 70px;
    margin-top: 50px;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: url(assets/search_icon.png);
    background-repeat: no-repeat;
    background-position: 30px;
    font-size: 15px;
    color:  #9aa5b7;
    padding-left: 60px;
}

.apart input[type=submit] {
    width: 115px;
    height: 70px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ffcc01;
    font-size: 15px;
    margin-left: -4px;
}

.all {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 52px;
    font-size: 15px;
    background-color: #fff;
}

.buttons-search {
    display: flex;
}

.steps h2 {
    font-size: 40px;
    font-weight: 600;
    color: #1f373d;
    margin-top: 55px;
    margin-bottom: 35px;
}

.steps-text {
    width: 40%;
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 70px;
}

.steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.steps-block {
    width: 340px;
    height: 370px;
    background: #fff; 
    color: #2a343a; 
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.steps-block .steps-num {
    font-size: 200px;
    font-weight: 700;
    position: relative;
    top: -150px;
    left: -30px;
}

.steps-block:hover {
    background: #ffc201;    
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
   }

.steps-block:hover .steps-num {
    color: #fff;
}

.steps-block .steps-title {
    font-size: 14px;
    margin-top: -170px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.steps-block .steps-title span {
    margin-right: 15px;
}

@media screen and (max-width: 765px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width:100%;
        color: #000;
        background: #ffcc01;
        transition: all .1s linear;
    }

    .toggle:hover {
        background:#d3a900;
    }
    
    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    #checkbox-menu:checked + label .touch {
        height: 350px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }
    
    .menu li a.contacts {
        margin-right: 0;
    }

    .intro {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 100%;
        margin-top: 0;
    }
    .intro-img {
        background-size: cover;
    }

    .intro-text {
        display: block;
        position: absolute;
        width: 80%;
        font-size: 30px;
        color: #000;
        top: 50%;
        left: 10%;
    }

    .intro-contacts {
        display: flex;
        width: 100%;
        bottom: 0;
    }

    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
    }

    .intro-contacts i {
        margin-right: 10px;
    }

    .stats {
        margin-top: 0;
        flex-direction: column;
    }

    .stats-text {
        padding: 10px;
    }

    .stats-text h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .stats-text p {
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }

    .square {
        height: 140px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 10px;
        justify-items: center;
    }

    .apart input[type=text] {
        width: 130px;
        margin-top: 20px;
    }
    
    .buttons-search {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all {
        margin-top: 10px;
        margin-left: 0;
    }
    

}


